* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #e2ebe9;
}
body {
  display: flex;
  padding: 15px 15px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #202023;
}
::selection {
  color: #e2ebe9;
  background: #17a2b8;
}
.wrapper {
  width: 770px;
  padding: 35px;
  background: #14140a;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}
.wrapper .input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.wrapper .content-box {
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #bfbfbf25;
}
.content-box .typing-text {
  overflow: hidden;
  max-height: 256px;
}
.typing-text::-webkit-scrollbar {
  width: 0;
}
.typing-text p {
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}
.typing-text p span {
  position: relative;
}
.typing-text p span.correct {
  color: #56964f;
}
.typing-text p span.incorrect {
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}
.typing-text p span.active {
  color: #17a2b8;
}
.typing-text p span.active::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17a2b8;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
  50% {
    opacity: 1;
  }
}
.content-box .content {
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf25;
}
.content button {
  outline: none;
  border: none;
  width: 105px;
  color: #202023;
  padding: 8px 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  background: #b9a16f;
  transition: transform 0.3s ease;
}
.content button:active {
  transform: scale(0.97);
}
.content .result-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content: space-between;
}
.result-details li {
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}
.result-details li:not(:first-child) {
  padding-left: 18px;
  border-left: 1px solid #bfbfbf;
}
.result-details li p {
  font-size: 19px;
}
.result-details li span {
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
li span b {
  font-weight: 500;
}
li:not(:first-child) span {
  font-weight: 500;
}
.wpm::before,
.wpm::after {
  --scale: 0;
  --tooltip-color: #333;
  --arrow-size: 10px;

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}
.wpm::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  max-width: 280%;
  background: var(--tooltip-color);
}
.wpm:hover::before,
.wpm:hover::after {
  --scale: 1;
}
.wpm::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}
.cpm::before,
.cpm::after {
  --scale: 0;
  --tooltip-color: #333;
  --arrow-size: 10px;

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}
.cpm::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  max-width: 280%;
  background: var(--tooltip-color);
}
.cpm:hover::before,
.cpm:hover::after {
  --scale: 1;
}
.cpm::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}
@media (max-width: 745px) {
  .wrapper {
    padding: 20px;
  }
  .content-box .content {
    padding: 20px 0;
  }
  .content-box .typing-text {
    max-height: 100%;
  }
  .typing-text p {
    font-size: 19px;
    text-align: left;
  }
  .content button {
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }
  .content .result-details {
    width: 100%;
  }
  .result-details li:not(:first-child) {
    border-left: 0;
    padding: 0;
  }
  .result-details li p,
  .result-details li span {
    font-size: 17px;
  }
}
@media (max-width: 518px) {
  .wrapper .content-box {
    padding: 10px 15px 0;
  }
  .typing-text p {
    font-size: 18px;
  }
  .result-details li {
    margin-bottom: 10px;
  }
  .content button {
    margin-top: 10px;
  }
}
